services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - inventra_pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

volumes:
  inventra_pgdata:
